<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Unidades</title>

</head>


<body>


    <h1>
        Unidades
    </h1>


    <h2>
        {{ condominio.nombre }}
    </h2>


    <h3>
        {{ edificio.nombre }}
    </h3>


    <hr>


    <table
        border="1"
        cellpadding="10"
        cellspacing="0"
    >

        <thead>

            <tr>

                <th>
                    Unidad
                </th>

                <th>
                    Piso
                </th>

                <th>
                    Posición
                </th>

                <th>
                    Propietario
                </th>

                <th>
                    Arrendatario
                </th>

                <th>
                    Acciones
                </th>

            </tr>

        </thead>


        <tbody>

            {% for unidad in unidades %}

                <tr>

                    <td>
                        {{ unidad.numero_unidad }}
                    </td>


                    <td>
                        {{ unidad.piso }}
                    </td>


                    <td>
                        {{ unidad.posicion }}
                    </td>


                    <td>

                        {% if unidad.dueno %}

                            {{ unidad.dueno.nombre }}
                            {{ unidad.dueno.apellido }}

                        {% else %}

                            Sin propietario

                        {% endif %}

                    </td>


                    <td>

                        {% if unidad.arrendatario %}

                            {{ unidad.arrendatario.nombre }}
                            {{ unidad.arrendatario.apellido }}

                        {% else %}

                            Sin arrendatario

                        {% endif %}

                    </td>


                    <td>

                        <a href="{% url 'unidad_editar' unidad.id %}">
                            Editar
                        </a>

                    </td>

                </tr>


            {% empty %}

                <tr>

                    <td colspan="6">

                        Este edificio no tiene unidades generadas.

                    </td>

                </tr>

            {% endfor %}

        </tbody>

    </table>


    <br>


    <a href="{% url 'edificios_lista' condominio.id %}">
        Volver a edificios
    </a>


</body>

</html>